@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre {
  padding: 1.5rem;
  margin: 1rem;
  background-color: white;
  white-space: pre-wrap;
  border-radius: 1rem;
  box-shadow: rgba(33, 0, 43, 0.15) 0px 2px 8px 0px;
  font-family: "JetBrains Mono", monospace;
  overflow-x: scroll; 
  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}

li code, p code {
  font-family: "JetBrains Mono", monospace;
  color: rgb(255, 255, 255);
  background-color: #765bfc;
  padding: 2px 4px;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 8px;
}


h1 {
  font-size: 32px;
  padding: 1rem 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 24px;
  padding: 1rem 0;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 18px;
  padding: 1rem 0;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 1rem 0;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;

}

ul li {
  padding-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.25rem;

}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;

}

ol li {
  padding-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.25rem;

}

p {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.5rem;
}

.prose a {
  color: #765bfc;
}

.prose a:hover {
  text-decoration: underline;
}

table {
  color: #765bfc;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 8px;
  border-collapse: separate; /* Keeps the radius effect */
  overflow: hidden; /* Ensures content doesn't spill over rounded corners */
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(33, 0, 43, 0.15) 0px 2px 8px 0px;
  padding: 1rem;
}

table, td, th {
  border: 1px solid;
}




/* td, th {
  border: 1px solid;
} */

/* table tr:first-child th {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table tr td:first-child,
table tr th:first-child {
  border-left: none;
}

table tr td:last-child,
table tr th:last-child {
  border-right: none;
} */


@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  } */
  .dark {
    /* --background: 240 10% 3.9%; */
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
